html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: light green;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.start {
    font-family: inherit;
    font-size: 25px;
    color: white;
    background-color: #238136;
    height: 100px;
    width: 300px;
    padding: 5px 10px;
    border: whitesmoke 5px double;
}

.start:hover {
    color: #238136;
    background-color: whitesmoke;
    border: #238136 5px double;
}

.app-container {
    height: 100vh;
}

.strapline {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    height: 15vh;
}

.mini-logo {
    height: 15vh;
    padding: 10px 0 0 10px;
}

.app-contents {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #238136;
    font-family: inherit;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 25px;
}
