html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: light green;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.app-container {
    height: 100vh;
}

.strapline {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    height: 15vh;
}

.mini-logo {
    height: 15vh;
    padding: 10px 0 0 10px;
}

.app-contents {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #238136;
    font-family: inherit;
}

.logo {
    height: 200px;
    width: 200px;
}

.mini-logo {
    height: 100px;
    width: 100px;
}
